doctype html
html(lang="en")
    include templates/head
    body 
        include templates/header
        main.page
            span Main Content of all website
            img(src="@img/IMG_5928.jpg", width="30%", alt="Main Image")
        include templates/footer
        script(src="js/main.min.js")